version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3858:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      sh -c "composer install &&
             php artisan migrate --force &&
             apache2-foreground"
