version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3858:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "composer install &&
             php artisan migrate --force &&
             apache2-foreground"
volumes:
  postgres_data: